body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  font-family: calibri;
}


p {
  font-family: verdana;
  font-size: 20px;
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}
